.category{
    font-family: Maven Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-decoration: underline;
    margin: 4% 0 0 2%;
    }
.CVList{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.CVBox{
    width: 360px;
    height: 400px;
    padding: 24px;
    background: #fff;
    position:relative;
    display: flex;
    align-items: flex-end;
    border-radius: 15%;
   
}


.CVBox:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) ;
}


.CVBox:hover:before{
    opacity: 1;
}
.CV:hover{
    opacity: 50%;
}
.CVBox:hover .button-Hover{
    opacity: 1;
    margin:0 0 30% 30%;
    transform: translateY(0);
    justify-content:space-around;
}
.buttonDiv{
    display:flex;
    width: fit-content;
    flex-direction: column;
}
.buttonDiv Button{
    margin-top: 5%;
    font-size: 32px;
}
.buttonDiv Button:hover{
    background-color: rgba(255,255,255,0.5);
    
}
.CVBox img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15%;
} */
.CV{    
    width: 235px;
    height: 298px;
    flex: 0 1 200px;
    margin: 2% 0 0 4%;
}
.CVfunction{
    position: relative;
}
.CVtitle{
    text-align: center;
    position: relative;
    font-family:  Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 10% 0 3% 0;
}
.buttonAdd{
    width: 400px;
    flex: 0 1 200px;
    margin: 2% 0 0 4%;
}
.CVBoxAdd{
    width: 360px;
    height: 400px;
    margin-top: 19%;
    background-color: #ffffff;
    border : 5px #426EF0 solid;
    transition: .6s ease-out;
    border-radius: 15%;
}
.CVBoxAdd h1{
    font-size: 32px;
    font-family:  Maven Pro;
    text-align: center;
    margin-top:50%;
    color: #426EF0;
}
.CVBoxAdd:hover{
    opacity: 50%;
    transform: translateY(0);
    justify-content:space-around;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) ;
}