/*
primary 426EF0
danger FF382D
safe 4FD132

font Maven-pro

*/

.body {
    background-color: ffffff;
}

.category {
    font-family: Maven Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-decoration: underline;
    margin: 4% 0 0 2%;
}

.viewCVfunction {
    display: flex;
    flex-direction: row;
    margin: 2% 0 0 0;
}

.viewCVfunction Button {
    margin-top: 5%;
    border-radius: 50%;
}

.CVList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.CV {
    flex: 0 1 200px;
    border-radius: 15%;
    margin: 1% 0 5% 0;
}

.CV:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

img {
    width: 360px;
}